---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <main class="w-full h-full flex items-center justify-center text-center">
    <h1>404</hjson>
    <p>Page not found</p>
  </main>
</Layout>
