---
import { type SpaceAPIResponse } from '../types/api.ts'
const res = await fetch('https://api.spacexdata.com/v5/launches/query', {
  method: "POST",
  headers: {
    "Content-Type": "application/json"
  },
  body: JSON.stringify({
    query: {},
    options: {
      sort: {
        data_unix: "asc"
      },
      limit: 12
    }
  })
});

const { docs: lauches } = await res.json() as SpaceAPIResponse

---
<section class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
  <article>
    { lauches.map(lauch => (
      <h2>Lauch # {lauch.id}</h2>
    )) }
  </article>
</section>

